<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle hamburger hamburger-close collapsed" data-target="#example-navbar-inverse-collapse" data-toggle="collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="hamburger-bar"></span>
			</button>
			<button type="button" class="navbar-toggle collapsed" data-target="#example-navbar-inverse-search" data-toggle="collapse">
				<span class="sr-only">Toggle Search</span>
				<i class="icon md-search" aria-hidden="true"></i>
			</button>
			<a class="navbar-brand" href="javascript:void(0)">Brand</a>
		</div>
		<ul class="nav navbar-nav hidden-float">
			<li>
				<a href="javascript:void(0)">
					<i class="icon md-view-module" aria-hidden="true"></i>
				</a>
			</li>
			<li class="hidden-xs">
				<a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
					<span class="sr-only">Toggle fullscreen</span>
				</a>
			</li>
			<li class="hidden-float">
				<a class="icon md-search" data-toggle="collapse" href="#example-navbar-inverse-search" role="button">
					<span class="sr-only">Toggle Search</span>
				</a>
			</li>
		</ul>
		<div class="collapse navbar-collapse navbar-collapse-toolbar" id="example-navbar-inverse-collapse">
			<ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
				<li class="dropdown">
					<a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
						<span class="avatar avatar-online">
						<img src="/img/portraits/5.jpg" alt="...">
							<i></i>
						</span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation">
							<a href="/author" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Info</a>
						</li>
						<li class="divider" role="presentation"></li>
						<li role="presentation">
							<a href="/signout" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Logout</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false" data-animation="slide-bottom" role="button">
						<i class="icon md-notifications" aria-hidden="true"></i>
						<span class="badge badge-danger up">5</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
						<li class="dropdown-menu-header" role="presentation">
							<h5>NOTIFICATIONS</h5>
							<span class="label label-round label-danger">New 5</span>
						</li>
						<li class="list-group" role="presentation">
							<div data-role="container">
								<div data-role="content">
									<a class="list-group-item" href="javascript:void(0)" role="menuitem">
										<div class="media">
											<div class="media-left padding-right-10">
												<i class="icon md-receipt bg-red-600 white icon-circle" aria-hidden="true"></i>
											</div>
											<div class="media-body">
												<h6 class="media-heading">A new order has been placed</h6>
												<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">5 hours ago</time>
											</div>
										</div>
									</a>
									<a class="list-group-item" href="javascript:void(0)" role="menuitem">
										<div class="media">
											<div class="media-left padding-right-10">
												<i class="icon md-account bg-green-600 white icon-circle" aria-hidden="true"></i>
											</div>
											<div class="media-body">
												<h6 class="media-heading">Completed the task</h6>
												<time class="media-meta" datetime="2015-06-11T18:29:20+08:00">2 days ago</time>
											</div>
										</div>
									</a>
									<a class="list-group-item" href="javascript:void(0)" role="menuitem">
										<div class="media">
											<div class="media-left padding-right-10">
												<i class="icon md-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
											</div>
											<div class="media-body">
												<h6 class="media-heading">Settings updated</h6>
												<time class="media-meta" datetime="2015-06-11T14:05:00+08:00">2 days ago</time>
											</div>
										</div>
									</a>
									<a class="list-group-item" href="javascript:void(0)" role="menuitem">
										<div class="media">
											<div class="media-left padding-right-10">
												<i class="icon md-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
											</div>
											<div class="media-body">
												<h6 class="media-heading">Event started</h6>
												<time class="media-meta" datetime="2015-06-10T13:50:18+08:00">3 days ago</time>
											</div>
										</div>
									</a>
									<a class="list-group-item" href="javascript:void(0)" role="menuitem">
										<div class="media">
											<div class="media-left padding-right-10">
												<i class="icon md-comment bg-orange-600 white icon-circle" aria-hidden="true"></i>
											</div>
											<div class="media-body">
												<h6 class="media-heading">Message received</h6>
												<time class="media-meta" datetime="2015-06-10T12:34:48+08:00">3 days ago</time>
											</div>
										</div>
									</a>
								</div>
							</div>
						</li>
						<li class="dropdown-menu-footer" role="presentation">
							<a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
								<i class="icon md-settings" aria-hidden="true"></i>
							</a>
							<a href="javascript:void(0)" role="menuitem">
								All notifications
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a data-toggle="dropdown" href="javascript:void(0)" title="Messages" aria-expanded="false" data-animation="slide-bottom" role="button">
						<i class="icon md-email" aria-hidden="true"></i>
						<span class="badge badge-info up">3</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
						<li class="dropdown-menu-header" role="presentation">
							<h5>MESSAGES</h5>
							<span class="label label-round label-info">New 3</span>
						</li>
						<li class="list-group" role="presentation">
							<div data-role="container">
								<div data-role="content">
									<a class="list-group-item" href="javascript:void(0)" role="menuitem">
										<div class="media">
											<div class="media-left padding-right-10">
												<span class="avatar avatar-sm avatar-online">
													<img src="/img/portraits/2.jpg" alt="...">
													<i></i>
												</span>
											</div>
											<div class="media-body">
												<h6 class="media-heading">Mary Adams</h6>
												<div class="media-meta">
													<time datetime="2015-06-17T20:22:05+08:00">30 minutes ago</time>
												</div>
												<div class="media-detail">Anyways, i would like just do it</div>
											</div>
										</div>
									</a>
									<a class="list-group-item" href="javascript:void(0)" role="menuitem">
										<div class="media">
											<div class="media-left padding-right-10">
												<span class="avatar avatar-sm avatar-off">
													<img src="/img/portraits/3.jpg" alt="...">
													<i></i>
												</span>
											</div>
											<div class="media-body">
												<h6 class="media-heading">Caleb Richards</h6>
												<div class="media-meta">
													<time datetime="2015-06-17T12:30:30+08:00">12 hours ago</time>
												</div>
												<div class="media-detail">I checheck the document. But there seems</div>
											</div>
										</div>
									</a>
									<a class="list-group-item" href="javascript:void(0)" role="menuitem">
										<div class="media">
											<div class="media-left padding-right-10">
												<span class="avatar avatar-sm avatar-busy">
													<img src="/img/portraits/4.jpg" alt="...">
													<i></i>
												</span>
											</div>
											<div class="media-body">
												<h6 class="media-heading">June Lane</h6>
												<div class="media-meta">
													<time datetime="2015-06-16T18:38:40+08:00">2 days ago</time>
												</div>
												<div class="media-detail">Lorem ipsum Id consectetur et minim</div>
											</div>
										</div>
									</a>
									<a class="list-group-item" href="javascript:void(0)" role="menuitem">
										<div class="media">
											<div class="media-left padding-right-10">
												<span class="avatar avatar-sm avatar-away">
													<img src="/img/portraits/5.jpg" alt="...">
													<i></i>
												</span>
											</div>
											<div class="media-body">
												<h6 class="media-heading">Edward Fletcher</h6>
												<div class="media-meta">
													<time datetime="2015-06-15T20:34:48+08:00">3 days ago</time>
												</div>
												<div class="media-detail">Dolor et irure cupidatat commodo nostrud nostrud.</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</li>
						<li class="dropdown-menu-footer" role="presentation">
							<a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
								<i class="icon md-settings" aria-hidden="true"></i>
							</a>
							<a href="javascript:void(0)" role="menuitem">
								See all messages
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-toolbar navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" href="/editor" role="button">Add</a>
				</li>
			</ul>
		</div>
		<div class="collapse navbar-search-overlap" id="example-navbar-inverse-search">
			<form role="search">
				<div class="form-group">
					<div class="input-search">
						<i class="input-search-icon md-search" aria-hidden="true"></i>
						<input type="text" class="form-control" name="site-search" placeholder="Search...">
						<button type="button" class="input-search-close icon md-close" data-target="#example-navbar-inverse-search" data-toggle="collapse" aria-label="Close"></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</nav>