<nav class="navbar" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle hamburger hamburger-close collapsed" data-target="#example-navbar-inverse-collapse" data-toggle="collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="hamburger-bar"></span>
			</button>
			<a class="navbar-brand" href="/index">
				<img class="navbar-brand-logo img-circle" src="/img/logo.jpg" title="Remark">
			</a>
		</div>

		<div class="collapse navbar-collapse navbar-collapse-toolbar" id="example-navbar-inverse-collapse">
			<a class="add" href="/editor" role="button">
				<button type="submit" class="btn btn-warning navbar-btn btn-round navbar-right">写文章</button>
			</a>
			<ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
				<li class="dropdown">
					<a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
						<span class="avatar avatar-online">
						<img src="/img/portraits/5.jpg" alt="...">
							<i></i>
						</span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation">
							<a href="/author/{{user._id}}" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Info</a>
						</li>
						<li class="divider" role="presentation"></li>
						<li role="presentation">
							<a href="/signout" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="collapse navbar-search-overlap" id="example-navbar-inverse-search">
			<form role="search">
				<div class="form-group">
					<div class="input-search">
						<i class="input-search-icon md-search" aria-hidden="true"></i>
						<input type="text" class="form-control" name="site-search" placeholder="Search...">
						<button type="button" class="input-search-close icon md-close" data-target="#example-navbar-inverse-search" data-toggle="collapse" aria-label="Close"></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</nav>