{
  "env": {
    "browser": true
  },
  "rules": {
	  "no-cond-assign": "warn",
	  "no-constant-condition": "warn",
	  "no-debugger": "warn",
	  "no-dupe-args": "warn",
	  "no-dupe-keys": "warn",
	  "no-empty": "warn",
	  "no-func-assign": "warn",
	  "no-sparse-arrays": "warn",
	  "no-unreachable": "warn",

	  "array-callback-return": "warn",
	  "block-scoped-var": "warn",
	  "complexity": ["warn", 2],
	  "consistent-return": "warn",
	  "curly": "warn",
	  "default-case": "warn",
	  "dot-notation": "warn",
	  "eqeqeq": "warn",
	  "no-alert": "warn",
	  "no-caller": "warn",
	  "no-else-return": "warn",
	  "no-empty-function": "warn",
	  "no-eq-null": "warn",
	  "no-extra-bind": "warn",
	  "no-fallthrough": "warn",
	  "no-floating-decimal": "warn",
	  "no-implicit-coercion": "warn",
	  "no-implicit-globals": "warn",
	  "no-implied-eval": "warn",
	  "no-invalid-this": "warn",
	  "no-lone-blocks": "warn",
	  "no-loop-func": "warn",
	  "no-multi-str": "warn",
	  "no-new-func": "warn",
	  "no-new-wrappers": "warn",
	  "no-new": "warn",
	  "no-octal-escape": "warn",
	  "no-param-reassign": "warn",
	  "no-proto": "warn",
	  "no-redeclare": "warn",
	  "no-return-assign": "warn",
	  "no-self-assign": "warn",
	  "no-self-compare": "warn",
	  "no-sequences": "warn",
	  "no-throw-literal": "warn",
	  "no-unmodified-loop-condition": "warn",
	  "no-useless-concat": "warn",
	  "no-void": "warn",
  }
}
