<div class="widget widget-shadow text-center">
    <div class="widget-header cover overlay">
      <div class="cover-background" style="background-image: url(/img/portraits/placeholder.png)">
        <div class="vertical-align padding-horizontal-0">
          <div class="vertical-align-bottom width-full">
            <a class="avatar avatar-100 img-bordered bg-white margin-top-20" href="javascript:void(0)">
              <img src="/img/portraits/17.jpg" alt="">
            </a>
            <h3 class="white">Herman Beck</h3>
            <p class="white"><i class="icon md-pin margin-right-10" aria-hidden="true"></i>United
              States
            </p>
            <button type="button" class="btn btn-primary margin-bottom-20 waves-effect waves-light">Follow</button>
            <div class="row no-space overlay-background padding-vertical-10">
              <div class="col-xs-4">
                <div class="counter counter-inverse">
                  <span class="counter-number">13.2K</span>
                  <div class="counter-label">Followers</div>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="counter counter-inverse">
                  <span class="counter-number">246</span>
                  <div class="counter-label">Following</div>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="counter counter-inverse">
                  <span class="counter-number">32</span>
                  <div class="counter-label">Tweets</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> article}}