<div class="panel">
	<div class="panel-heading">
	  <h3 class="panel-title">Standard Editor</h3>
	</div>
	<div class="panel-body">
		<textarea data-provide="markdown" data-iconlibrary="fa" data-savable="true"></textarea>
	</div>
</div>