{{#extend "link"}}
<link rel="stylesheet" href="/css/login-v3.min.css">
{{/extend}}

{{#extend "main"}}
<div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
data-animsition-out="fade-out">>
	<div class="page-content vertical-align-middle">
		<div class="panel">
			<div class="panel-body">
				<div class="brand">
					<img class="brand-img" src="/img/logo.jpg" alt="..." width="36px" height="36px">
					<h2 class="brand-text font-size-18">{{pageTitle}}</h2>
				</div>
				<form method="post" action="#" autocomplete="off">
					<div class="form-group form-material floating">
						<input type="email" class="form-control" name="email" />
						<label class="floating-label">{{email}}</label>
					</div>
					<div class="form-group form-material floating">
						<input type="password" class="form-control" name="password" />
						<label class="floating-label">{{pwd}}</label>
					</div>
					<div class="form-group clearfix">
						<div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
							<input type="checkbox" id="inputCheckbox" name="remember">
							<label for="inputCheckbox">{{remember}}</label>
						</div>
						<a class="pull-right" href="forgot-pwd">Forgot password?</a>
					</div>
					<button type="submit" class="btn btn-primary btn-block btn-lg margin-top-40">Sign in</button>
				</form>
				<p>Still no account? Please go to <a href="register">Sign up</a></p>
			</div>
		</div>
		<footer class="page-copyright page-copyright-inverse">
			<p>WEBSITE BY amazingSurge</p>
			<p>© 2016. All RIGHT RESERVED.</p>
			<div class="social">
				<a class="btn btn-icon btn-pure" href="javascript:void(0)">
					<i class="icon bd-twitter" aria-hidden="true"></i>
				</a>
				<a class="btn btn-icon btn-pure" href="javascript:void(0)">
					<i class="icon bd-facebook" aria-hidden="true"></i>
				</a>
				<a class="btn btn-icon btn-pure" href="javascript:void(0)">
					<i class="icon bd-google-plus" aria-hidden="true"></i>
				</a>
			</div>
		</footer>
	</div>
</div>
{{/extend}}